*{
    box-sizing: border-box;
}

body{
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
}

h1{
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
    width: 320px;
    justify-content: center;
    box-sizing: border-box;
}

.display{
    border: solid black 1px;
    width: 90%;
    height:65px;
    resize: none;
    font-size: 30px;
    caret-color: transparent;
    display: block;
    padding: 8px;
    text-align: right;
    overflow: hidden;
    border-color: #b17404f3;
}

.display:focus{
    outline: none;
    box-shadow: none;
}
.display:hover{
    cursor: default;
    border: solid #b17404f3 2px;
}

button{
    cursor: pointer;
    width: 65px;
    height: 65px;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: white;
    color: #b17404f3;
    border: 1.5px solid #b17404f3;
}

button:hover{
    background-color: #b17404f3;
    color: white;
}

.clear{
    width: 90%;
}